<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.woyl.lt_woyl" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application>

<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            android:exported="false"-->
<!--            tools:node="merge">-->
<!--            <meta-data-->
<!--                android:name="com.woyl.lt_woyl.utils.ExtUtils.AppInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--        </provider>-->
    </application>
</manifest>
